@import url('https://fonts.googleapis.com/css?family=Russo+One');

body{
  font-family: 'Russo One', sans-serif;
  background: #00ffff;
}

h1 {
  color: #F7F8F9;
  text-align: center;
}

.search{
  display: block;
  align-items: center;
  margin: 0 auto;
  width: 60%;
  background: #3399ff;
  border-radius: 3%;
  padding-bottom: 20px;
}

.search input{
  display: block;
  margin: 0 auto;
  width: 70%;
  height: 25px;
  border: none;
  border-radius: 20px;
}

button{
  display: block;
  font-family: 'Russo One', sans-serif;
  margin: 0 auto;
  width: 70%;
  height: 25px;
  border: none;
  border-radius: 20px;
  background-color: #99CCFF;
  color: black;
}

button:hover{
  background-color: #CCFFFF;
}

.results{
  display: block;
  align-items: center;
  margin: 0 auto;
  width: 70%;
  padding-left: 2px;
  padding-right: 2px;
  background: #3399ff;
  border-radius: 3%;
  padding-bottom: 20px;
}

.results ul{
 list-style-type: none;
}

.results li{
  color: white;
  font-size: 20px;
  text-align: center;
}

@media screen and (min-width: 834px){

  .search{
    display: block;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    background: #3399ff;
    border-radius: 3%;
    padding-bottom: 20px;
  }

  .search input{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 25px;
    border-radius: 20px;
  }

  .results{
    display: block;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    background: #3399ff;
    border-radius: 3%;
    padding-bottom: 20px;
  }

  .results li{
    color: white;
    font-size: 20px;
    text-align: center;
  }


  button{
    display: block;
    font-family: 'Russo One', sans-serif;
    margin: 0 auto;
    width: 80%;
    height: 25px;
    border: none;
    border-radius: 20px;
    background-color: #99CCFF;
    color: black;
  }
}

@media screen and (min-width:1024px){

  .search{
    display: block;
    align-items: center;
    margin: 0 auto;
    width: 500px;
    height: 300px;
    background: #3399ff;
    border-radius: 3%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .results{
    display: block;
    align-items: center;
    margin: 0 auto;
    width: 500px;
    height: 300px;
    padding-left: 5px;
    padding-right: 5px;
    background: #3399ff;
    border-radius: 3%;
    padding-bottom: 80px;
  }
}
