@import url('https://fonts.googleapis.com/css?family=Russo+One');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
body{
  font-family: 'Russo One', sans-serif;
  background: #00ffff;
  font-size: 9px;
}

h1 {
  color: #F7F8F9;
  text-align: center;
}

a{
  font-size: 16px;
  color: white;
  text-decoration: none;
}

a:hover{
  color: black;
}

.time {
 font-family: 'Orbitron', sans-serif;
 font-size: 16px;
 padding: 1px;
}
.search{
  display: block;
  align-items: center;
  margin: 0 auto;
  width: 60%;
  background: #3399ff;
  border-radius: 3%;
  padding-top: 7px;
  padding-bottom: 20px;
}

.search input{
  display: block;
  margin: 0 auto;
  width: 70%;
  height: 25px;
  border: none;
  border-radius: 20px;
  text-align: center;
  }

button{
  display: block;
  font-family: 'Russo One', sans-serif;
  margin: 0 auto;
  width: 70%;
  height: 25px;
  border: none;
  border-radius: 20px;
  background-color: #99CCFF;
  color: black;
}

button:hover{
  background-color: #CCFFFF;
}

.results{
  display: block;
  align-items: center;
  margin: 0 auto;
  width: 70%;
  opacity: 0.8;
  padding-left: 2px;
  padding-right: 2px;
  background: #3399ff;
  border-radius: 3%;
  padding-bottom: 20px;
}

.results ul{
 list-style-type: none;
 padding: 0;
}

.results li{
  color: white;
  font-size: 20px;
  text-align: center;
}
.time{
  background-color: black;
  border-radius: 5px;
}

.citydatelocaltime{
  background-color: rgb(20, 0, 247);
  border-radius: 5px;
  padding: 15px;
  text-align: center;
}
.weather{
  background-color: rgb(31, 100, 115);
  border-radius: 5px;
  padding: 15px;
  text-align: center;
}

@media screen and (min-width: 834px){

  .search{
    display: block;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    background: #3399ff;
    border-radius: 3%;
    padding-top: 22px;
    padding-bottom: 40px;
  }

  .search input{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 25px;
    border-radius: 20px;
  }

  .results{
    display: block;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    opacity: 0.8;
    background: #3399ff;
    border-radius: 3%;
    padding-bottom: 20px;
  }

  .results li{
    color: white;
    font-size: 20px;
    text-align: center;
  }

  .time{
    background-color: none;
    border-radius: 5px;
  }

  button{
    display: block;
    font-family: 'Russo One', sans-serif;
    margin: 0 auto;
    width: 80%;
    height: 25px;
    border: none;
    border-radius: 20px;
    background-color: #99CCFF;
    color: black;
  }
}

@media screen and (min-width:1024px){
  body{
    font-size: 14px;
  }

 a{
   display: flex;
   font-size: 30px;
   text-align: right;
  }

  .search{
    display: block;
    align-items: center;
    margin: 0 auto;
    width: 500px;
    height: 225px;
    background: #3399ff;
    border-radius: 3%;
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .results{
    display: block;
    align-items: center;
    margin: 0 auto;
    opacity: 0.8;
    width: 80%;
    height: 300px;
    padding-left: 10px;
    padding-right: 10px;
    background: #3399ff;
    border-radius: 3%;
    padding-bottom: 150px;
  }

  .time{
    margin: 0 auto;
    width: 30%;
  }

  .citydatelocaltime{
    float: right;
    width: 37%;
    background-color: transparent;
  }
  .weather{
    float: left;
    width: 37%;
    background-color: transparent;
  }

  .citydatelocaltime li{
    text-align: center;
  }

 .weather li{
   text-align: center;

  }

 .citydatelocaltime h1{
   text-align: center;
 }


 .weather h1{
   text-align: center;
 }


}
